Source: imio-ts-aes
Section: unknown
Priority: optional
Maintainer: cboulanger <christophe.boulanger@imio.be>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/imio-ts-aes.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/imio-ts-aes.git

Package: imio-ts-aes
Architecture: all
Depends: ${misc:Depends}, python3-passerelle, wcs (>=3.5)
Description: Package qui regroupe les différentes briques du portail parent.
